//
   Created by zf on 2016/2/6.
extends public/layout
block content
    -each val in mindex
        .banner
            .container
                #home.banner-main
                    .bann-right
                        h1 #{val.title1}
                        h2 #{val.title2}
                        p
                            | #{val.content1}
                        img(src='images/ftr-logo.png', alt='')
                    .clearfix
        // header end here
        .copyrights
            | Collect from
            a(href='http://www.cssmoban.com/') 企业网站模板
        // about start here
        #About.about
            .container
                .about-main
                    .col-md-3.about-left
                    .col-md-9.about-right
                        .about-top
                            h3 关于
                            h5 #{val.title3}
                            ul
                                li
                                    p
                                        | #{val.content2}

                    .clearfix
        // about end here
        // services start here
        #Services.services
            .container
                .services-main
                    .ser-top
                        h3 提供的服务
                        h4 我所能提供的所有服务内容
                    .ser-bottom
                        .ser-grid
                            .col-md-8.ser-left
                                h5 #{val.stitle1}
                                p
                                    | #{val.scontent1}
                            .col-md-4.ser-right
                                img(src='images/bike.png', alt='')
                            .clearfix
                        .ser-grid
                            .col-md-4.ser-left.wlta
                                img(src='images/dotts.png', alt='')
                            .col-md-8.ser-right.wltatext
                                h5 #{val.stitle2}
                                p
                                    | #{val.scontent2}
                            .clearfix
                        .ser-grid
                            .col-md-8.ser-left
                                h5 #{val.stitle3}
                                p
                                    | #{val.scontent3}
                            .col-md-4.ser-right
                                img(src='images/wedding.png', alt='')
                            .clearfix
                        .clearfix
                    .clearfix
        // services end here

        // price start here
        #Pricing.price
            .container
                .price-main
                    .price-top
                        h3 联系我们
                        h4 您可以选择不同的方式与我们取得联系
                    .col-1
                        |您可以使用
                        a(href="") 站内信
                        |的方式,或者直接使用以下联系方式：
                        br
                        br
                        br
                        br

                    .row
                        .col-md-4
                            span(class="glyphicon glyphicon-envelope" aria-hidden="true")
                            span mail：#{val.email}

                        .col-md-4
                            span(class="glyphicon glyphicon-asterisk" aria-hidden="true")
                            span phone:#{val.phone}

                        .col-md-4
                            span(class="glyphicon glyphicon-heart" aria-hidden="true")
                            span QQ:#{val.qq}

        // price end here

